@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

@using Zomato.BAL;
@using System.Data;
@model DataTable;

<style>

    table {
        border-collapse: separate;
        border-spacing: 0px 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>

<main class="main" id="main">
    @if (Model.Rows.Count > 0)
    {
        <div class="container border border-gray rounded p-5">


            <div class="container ">


                <h3>@CV.UserOrder() Orders</h3>

            </div>
            <br />
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Restaurant Name</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Order Date</th>
                            <th>Delivery Address</th>
                            <th>Payment Method</th>
                            <th>Order Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow dr in Model.Rows)
                        {

                            <tr class="@((dr["Status"].ToString() == "Cancelled") ? "table-danger" : (dr["Status"].ToString() == "Completed" ? "table-success" : "table-warning"))">
                                <td>@dr["OrderNo"]</td>
                                <td>@dr["Name"]</td>
                                <td>@dr["TotalAmount"]</td>
                                <td>@dr["Status"]</td>
                                <td>@Convert.ToDateTime(dr["OrderDate"]).ToString("dd-MM-yyyy")</td>
                                <td>@dr["DeliveryAddress"]</td>
                                <td>@dr["PaymentMethod"]</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Order" asp-action="UserOrderItemList" asp-route-orderid="@Convert.ToInt32(dr["OrderID"])">Detail</a>
                                </td>
                                <td class="">
                                    @if (dr["Status"].ToString() == "Pending")
                                    {

                                        <a class="btn btn-outline-dark" asp-area="User" asp-controller="Order" asp-action="UpdateStatus" asp-route-orderid="@Convert.ToInt32(dr["OrderID"])" asp-route-userid="@Convert.ToInt32(dr["UserID"])" asp-route-username="@CV.UserOrder()">Complete</a>


                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="container border border-gray rounded p-5">
            <div class="container ">


                <h3>@CV.UserOrder() 's Orders</h3>

            </div>
            <br />
            <div class="container m-auto ">
                No Orders Yet!!!
            </div>
        </div>
    }

    <hr />
    <hr />
    <hr />
    <hr />

</main>

