@{
    if (CV.IsAdmin())
    {
        Layout = Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_Zomato.cshtml";
    }
}
@using Zomato.BAL;
@using System.Data;
@model DataTable;

<main class="main" id="main">
    <div class="container">
        
        @if (!CV.IsAdmin())
        {
               <h3>Your Orders</h3>
            <nav class="nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="User1" asp-action="UserIndex">Home</a></li>
                    <li class="breadcrumb-item"><a asp-area="User" asp-controller="Order" asp-action="OrderList">OrderList</a></li>
                    <li class="breadcrumb-item active">Order Items</li>
                </ol>
            </nav>
        }
        else
        {
            <h3>@CV.UserOrder() Orders</h3>
        }
    </div>
    <br />
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr in Model.Rows)
                {

                    <tr>

                        <td>@dr["ItemName"]</td>
                        <td>@dr["Price"]</td>
                        <td>@dr["Quantity"]</td>
                        <td>@dr["Subtotal"]</td>
                        

                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>

